<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                <div id="app">

					<div class="box-header with-border">
						<h3 class="box-title">商品管理</h3>
					</div>

					<div class="box-body">

						<!-- 数据表格 -->
						<div class="table-box">

							<!--工具栏-->
							<div class="pull-left">
								<div class="form-group form-inline">
									<div class="btn-group">
										<button type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</button>
										<button type="button" class="btn btn-default" title="删除" @click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
										<button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>
										<button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
										<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
									</div>
								</div>
							</div>
							<div class="box-tools pull-right">
								<div class="has-feedback">
									状态：<select v-model="searchEntity.auditStatus">
									<option value="">全部</option>
									<option value="0">未审核</option>
									<option value="1">已审核</option>
									<option value="2">审核未通过</option>
									<option value="3">已关闭</option>
								</select>
									商品名称：<input v-model="searchEntity.goodsName">
									<button class="btn btn-default" @click="searchList(1)">查询</button>
								</div>
							</div>
							<!--工具栏/-->

							<!--数据列表-->
							<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
								<thead>
								<tr>
									<th class="" style="padding-right:0px">
										<input id="selall" type="checkbox" class="icheckbox_square-blue">
									</th>
									<th class="sorting_asc">商品ID</th>
									<th class="sorting">商品名称</th>
									<th class="sorting">商品价格</th>
									<th class="sorting">一级分类</th>
									<th class="sorting">二级分类</th>
									<th class="sorting">三级分类</th>
									<th class="sorting">状态</th>
									<th class="text-center">操作</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="good in list" v-if="!good.isDelete">
									{{ids}}
									<td><input  type="checkbox" v-model="ids" :value="good.id"></td>
									<td>{{good.id}}</td>
									<td>{{good.goodsName}}</td>
									<td>{{good.price}}</td>
									<td>{{itemList[good.category1Id]}}</td>
									<td>{{itemList[good.category2Id]}}</td>
									<td>{{itemList[good.category3Id]}}</td>
									<td>
		                                  	{{status[good.auditStatus]}}
									</td>
									<td class="text-center" v-if="good.isDelete == false">
										<a type="button" class="btn bg-olive btn-xs" :href="'goods_edit.html?id='+good.id">修改</a>
										<a type="button" class="btn bg-olive btn-xs" v-if="good.isMarketable == 0" @click="upperShelf(good.id)">上架</a>
										<a type="button" class="btn bg-olive btn-xs" v-if="good.isMarketable == 1" @click="offShelfGood(good.id)">下架</a>
										<a type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" @click="entity=good">申请秒杀</a>
									</td>


								</tr>
								</tbody>
							</table>
							<!--数据列表/-->
							<div class="text-center">
								<navigation :pages="pages" :current.sync="pageNo"  @navpage="searchList"></navigation>
							</div>


							<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" >
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">商品申请</h3>
										</div>
										{{secKillGoods}}
										<div class="modal-body">
											<table class="table table-bordered table-striped"  width="800px">
<!--
												<tr>
													<td>商品ID</td>
													<td><input  class="form-control" placeholder="商品ID" v-model="secKillGoods.goodsId">  </td>
												</tr>


												<tr>
													<td>商品名称</td>
													<td><input  class="form-control" placeholder="商品名称" v-model="secKillGoods.title">  </td>
												</tr>
												<tr>
													<td>商品图片</td>
													<td><input  class="form-control" placeholder="商品图片" v-model="secKillGoods.costPrice">  </td>
												</tr>


												<tr>
													<td>商品原价</td>
													<td><input  class="form-control" placeholder="商品原价" v-model="secKillGoods.price">  </td>
												</tr>-->
												<tr>
													<td>秒杀价</td>
													<td><input  class="form-control" placeholder="秒杀价" v-model="secKillGoods.costPrice">  </td>
												</tr>
												<tr>
													<td>开始时间</td>
													<td><input type="date"  class="form-control" placeholder="开始时间" v-model="secKillGoods.startTime">  </td>
												</tr>
												<tr>
													<td>结束时间</td>
													<td><input type="date"  class="form-control" placeholder="结束时间" v-model="secKillGoods.endTime">  </td>
												</tr>
												<tr>
													<td>秒杀商品数</td>
													<td><input  class="form-control" placeholder="秒杀商品数" v-model="secKillGoods.num">  </td>
												</tr>
												<tr>
													<td>剩余库存数</td>
													<td><input  class="form-control" placeholder="剩余库存数" v-model="secKillGoods.stockCount">  </td>
												</tr>
												<tr>
													<td>描述</td>
													<td><input  class="form-control" placeholder="描述" v-model="secKillGoods.introduction">  </td>
												</tr>
											</table>
										</div>
										<div class="modal-footer">
											<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" @click="change()">保存</button>
											<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
										</div>
									</div>
								</div>
							</div>


						</div>
						<!-- 数据表格 /-->


					</div>
				</div>
                    <!-- /.box-body -->
		
</body>
<script src="../plugins/vue/vue.js"></script>
<script src="../plugins/axios/axios.js"></script>
<script src="../js/pagination.js"></script>
<script src="../js/controller/goodsManagerController.js"></script>
</html>